[submodule "Modules/Core"]
	path = Modules/Core
	url = https://github.com/mownier/umalahokan-core.git
[submodule "Modules/Login"]
	path = Modules/Login
	url = https://github.com/mownier/umalahokan-login
[submodule "Modules/ServiceProvider"]
	path = Modules/ServiceProvider
	url = https://github.com/mownier/umalahokan-service-provider
[submodule "Modules/UserInterface"]
	path = Modules/UserInterface
	url = https://github.com/mownier/umalahokan-user-interface
